{{ message }}

<form action="{{ action }}" method="post">
    <label for="">
        user name
        <input type="text" name="user[name]">
    </label><br />
    <label for="">
        user email
        <input type="text" name="user[email]">
    </label><br />
    <label for="">
        user password
        <input type="password" name="user[password][1]">
    </label><br />

    <label for="">
        repeat password
        <input type="password" name="user[password][2]">
    </label><br />

    <button>Registration</button>
</form>